<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.14.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="118.0.5993.7000" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net472" />
</packages>