<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="6.0.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.38" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>