<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="5.0.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="93.0.4577.1500" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="5.0.0" targetFramework="net472" />
</packages>